@model List<Entity.Blog>




<!DOCTYPE HTML>
<html>
<head>
    <title>PHPJabbers.com | Free Blog Website Template</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Main -->
    <div id="main" class="alt">

        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>Blog</h1>
                </header>
            </div>
        </section>

        <!-- Blog posts -->
        <section class="tiles">
            @foreach (var blog in Model)
            {
                <article>
                    <span class="image">
                        <img src="~/images/laptop.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3>@blog.Header</h3>

                        <p>@blog.CreateDate.Value.ToShortDateString()</p>

                        <div class="major-actions">
                            <a href="../../Blog/BlogDetail/@blog.Id" class="button small next">Oku</a>
                        </div>
                    </header>
                </article>
            }

        </section>

    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/browser.min.js"></script>
    <script src="~/assets/js/breakpoints.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    @*<script src="~/assets/js/main.js"></script>*@

</body>
</html>