@{
    ViewData["Title"] = "Home Page";
}
<body class="container">
    <div id="wrapper">
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    @*<h1>HAYAT DURGUT</h1>*@
                </header>
                <div class="content">
                    <p>EĞİTİM VE ORTAKLIK İÇİN BANA ULAŞIN...</p>
                    <ul class="actions">
                        <li><a href="~/Contact/Index" class="button next scrolly">İLETİŞİM</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</body>